<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<style type="text/css">
    .head3, .head4 {
        width: 50%;
        height: 50em;
        margin : 0;
        padding : 0;
        display : inline;
    }
    table, td, th { border: 1px solid black; width: 800px; }
</style>
<div>
    <h2>Welcome to Swip Warehouse Mangement System</h2>

    <p><a href="/">Home Page</a></p> <p><a href="/browseByCategory">Browse By Category</a></p>

    <h3 th:text="'Items in category ' + ${category}" class="head3"></h3>
    <h3 th:text="'(Count: ' + ${itemCount} + ')'" class="head4"></h3>

    <table>
        <tbody>
        <tr>
            <th>STATE</th>
            <th>CATEGORY</th>
            <th>DATE OF STOCK</th>
            <th>WAREHOUSE</th>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.state}"></td>
            <td th:text="${item.category}"></td>
            <td th:text="${item.dateOfStock}"></td>
            <td th:text="${item.warehouse}"></td>
        </tr>
        </tbody>
    </table>


</div>

</div>